<html>
    <header>
        <title>Meu App</title>
    </header>
    <body>
        <div id="app">
            <h1>{{ title }}</h1>
            {{ message }}
        </div>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>